{% extends 'layout.twig' %}

{% block content %}
<<<<<<< HEAD
    <div id="container" name="container"></div>
=======
    {% include 'partials/flash.twig' %}
    <div id="content" name="content"></div>
>>>>>>> 93a1ca385c20b137c9fbc0bf0057bf0148d07729
{% endblock %}