<footer>
    <div class="overlay"></div>
    <script src="{{ base_url() }}/js/controller.js"></script>
    <script src="{{ base_url() }}/js/model.js"></script>
    <script src="{{ base_url() }}/js/localStorage.js"></script>
    <script src="{{ base_url() }}/js/main.js"></script>
</footer>